version: '3.8'

services:
  nginx:
    image: nginx:alpine
    container_name: community_nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./ssl:/etc/nginx/ssl:ro
    networks:
      - nginx_network

networks:
  nginx_network:
    driver: bridge